.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#bill-man{
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
}
.App-body{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  background-color: #aeb6c5;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.forms{
  background-color: #e8eaf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  border-radius: 30px;
  width: 20vw;
}

#back-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
table{
  min-width: 40vw;
}